<footer th:fragment="footer" class="relative text-sm -m-4">
    <div class="absolute left-0 right-0 bg-black w-full pb-8">
        <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 p-8 px-16">
            <div class="flex flex-col">
                <span class="text-secondary font-bold text-xl">Categories</span>
                <ul>
                    <li><a href="/category/obd_readers" class="text-primary text-lg hover:text-highlight">OBD
                            Readers</a></li>
                </ul>
            </div>
            <div class="flex flex-col">
                <span class="text-secondary font-bold text-xl">FAQ</span>
                <ul>
                    <li><a href="/faq" class="text-primary text-lg hover:text-highlight">How Long Will Delivery
                            Take?</a></li>
                    <li><a href="/about" class="text-primary text-lg hover:text-highlight">Shipping Outside Of The
                            UK</a></li>
                </ul>
            </div>
            <div class="flex flex-col">
                <span class="text-secondary font-bold text-xl">UKAutoParts</span>
                <ul>
                    <li><a href="/contact" class="text-primary text-lg hover:text-highlight">Contact</a></li>
                    <li><a href="/about" class="text-primary text-lg hover:text-highlight">About Us</a></li>
                    <li><a href="mailto:thecrowstudios@protonmail.com"
                            class="text-primary text-lg hover:text-highlight">thecrowstudios@protonmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>