<footer th:fragment="footer" class="relative text-sm -m-4 mt-16">
    <div class="absolute left-0 right-0 bg-black w-full pb-8">
        <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 p-8 px-16">
            <div class="flex flex-col">
                <span class="text-secondary font-bold text-xl">Categories</span>
                <ul>
                    <li><a href="/category/obd_readers" class="text-primary text-lg hover:text-highlight">OBD
                            Readers</a></li>
                    <li><a href="/category/steering_wheels" class="text-primary text-lg hover:text-highlight">Steering
                            Wheels</a></li>
                    <li><a href="/category/boss_kits" class="text-primary text-lg hover:text-highlight">Boss Kits</a>
                    </li>
                    <li><a href="/category/decals" class="text-primary text-lg hover:text-highlight">Decals</a></li>
                </ul>
            </div>
            <div class="flex flex-col">
                <span class="text-secondary font-bold text-xl">UKAutoParts</span>
                <ul>
                    <li><a href="/faq" class="text-primary text-lg hover:text-highlight">Frequently Asked Questions</a></li>
                    <li><a href="/contact" class="text-primary text-lg hover:text-highlight">Contact</a></li>
                    <li><a href="/about" class="text-primary text-lg hover:text-highlight">About Us</a></li>
                    <li><a href="mailto:thecrowstudios@protonmail.com"
                            class="text-primary text-lg hover:text-highlight">thecrowstudios@protonmail.com</a></li>
                </ul>
                <div class="gap-2 mt-4">
                    <div class="flex gap-1">
                        <div class="w-16 h-10 bg-[url('/images/paypal.svg')] bg-cover"></div> <!-- paypal -->
                        <div class="w-16 h-10 bg-[url('/images/visa.svg')] bg-cover"></div> <!-- visa -->
                        <div class="w-16 h-10 bg-[url('/images/mastercard.svg')] bg-cover"></div> <!-- mastercard -->
                        <div class="w-16 h-10 bg-[url('/images/diners.svg')] bg-cover"></div> <!-- diners -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>