<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title th:text="${category} + ' - UKAutoParts'"></title>
    <link rel="icon" type="image/png" href="/favicon.svg">
</head>

<body class="body">
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div
            class="absolute flex flex-col w-full p-4 gap-4 justify-center items-center text-center h-screen top-0 left-0">
            <p class="lg:w-8/12 w-11/12">We're not just another online car parts store. Built from years of experience on eBay Motors,
                UKAutoParts brings a foundation of quality and reliability directly to you. Understanding the
                importance of top-notch parts, expert knowledge, and exceptional customer service, we created this
                dedicated space to offer a wider selection, streamlined shopping, and superior support. We're committed
                to sourcing quality parts, providing expert guidance, and delivering exceptional customer service at
                competitive prices. Forged in the eBay marketplace, UKAutoParts is your trusted partner for all
                your car part needs, whether you're a professional mechanic or a DIY enthusiast. Browse our catalog and
                experience the difference!</p>
        </div>
        <span class="flex-grow"></span>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </main>
</body>

</html>