<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>UKAutoParts - Account Overview</title>
</head>

<body class="body">
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 gap-4 p-4 text-center">
            <a href="/orders" class="p-8 w-full h-auto border-x-2 border-y-2 border-solid rounded border-slate-50">Orders</a>
            <a href="/orders" class="p-8 w-full h-auto border-x-2 border-y-2 border-solid rounded border-slate-50">Orders</a>
        </div>
        <div th:replace="~{/fragments/footer :: footer}"></div>
    </main>
</body>

</html>