<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Checkout Cancelled - UKAutoParts</title>
    <link rel="icon" type="image/png" href="/favicon.svg">
</head>
<body class="body">
    <main class="main">
        <h1 class="text-primary text-3xl">Purchase completed successfully</h1>
        <h3 class="text-primary text-xl">Thank you for your purchase!</h1>
    </main>
</body>
</html>