<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/scripts/cart.js"></script>
    <title>Cart - UKAutoParts</title>
</head>

<body class="body">
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div th:classappend="${cartItems.size() == 0} ? absolute : hidden"
            class="flex flex-col w-full p-4 gap-4 justify-center items-center text-center h-screen top-0 left-0"
            id="no-items-message">
            <span class="mt-4 text-xl text-center">No items here yet!
                <br>
                Add items from our range of car products to the
                cart to see them here.
                <br>
                <a class="underline hover:text-highlight transition-all duration-300" href="/">Home Page</a>
            </span>
        </div>
        <div th:if="${cartItems.size() > 0}" class="flex flex-col gap-4">
            <div th:each="cartItem : ${cartItems}" class="flex flex-row gap-4 cart-item"
                th:attr="id=|cart-item-${cartItem.listing.id}|">
                <a th:href="'/listings/' + ${cartItem.listing.id}" class="w-2/12 min-w-32">
                    <img th:src="'/upload-dir/' + ${cartItem.listing.images.get(0).imageUrl}"
                        th:alt="${cartItem.listing.title}" class="rounded-lg">
                </a>
                <div class="flex flex-col gap-4">
                    <a th:href="'/listings/' + ${cartItem.listing.id}">
                        <h3 th:text="${cartItem.listing.title}"
                            class="text-primary text-xl hover:text-highlight transition-all duration-300">listing title
                        </h3>
                    </a>
                    <div class="flex flex-row gap-4">
                        <h3 th:text="'£' + ${#numbers.formatDecimal(cartItem.listing.price, 2, 2)}"
                            class="text-secondary text-xl align-text-bottom">
                            listing price
                        </h3>
                        <input type="number" step="1" min="1" max="10" value="1"
                            class="px-1 py-0.5 border border-primary rounded text-tertiary" id="quantity"
                            th:value="${cartItem.quantity}"
                            th:attr="onchange=|updateQuantity(${cartItem.listing.id}, this.value)|">
                    </div>
                </div>
                <span class="flex-grow"></span>
                <div class="flex flex-col gap-4">
                    <form th:action="'/purchase/create-checkout-session/' + ${cartItem.listing.id}" method="POST">
                        <button type="submit" id="checkout-button" class="button-highlight w-auto px-4 py-2">
                            <div class="flex flex-row items-center justify-center w-fit gap-x-4">
                                <span class="text-nowrap">Buy Now</span>
                                <img src="/images/stripe.svg" alt="" class="h-6 w-auto">
                            </div>
                        </button>
                    </form>
                    <button id="remove-button" class="button-highlight w-full px-4 py-2"
                        th:attr="onclick=|removeFromCart(${cartItem.listing.id})|">Remove</button>
                </div>
            </div>
        </div>
        <form th:if="${cartItems.size() > 0}" th:action="@{/api/stripe/checkout/cart}" method="POST"
            id="checkout-form">
            <button type="submit" id="checkout-button" class="button-highlight w-auto px-4 py-2">
                <div class="flex flex-row items-center justify-center w-fit gap-x-4">
                    <span class="text-nowrap">Check Out</span>
                    <img src="/images/stripe.svg" alt="" class="h-6 w-auto">
                </div>
            </button>
        </form>
        <span class="flex-grow"></span>
        <div th:replace="~{/fragments/footer :: footer}"></div>
    </main>
</body>

</html>