<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title th:text="${category} + ' - UKAutoParts'"></title>
</head>

<body class="body">
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div>
            <span th:text="${category.getDescription()}" class="text-primary font-bold mt-4">category name</span>
            <p th:text="${category.getLongDescription()}" class="text-primary font-light"></p>
        </div>
        <div>
            <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mt-4">
                <div th:each="listing : ${listings}">
                    <div th:replace="~{fragments/index-listing :: index-listing}"></div>
                </div>
            </div>
        </div>
        <span class="flex-grow"></span>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </main>
</body>

</html>