<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create New Listing</title>
    <script>
        function addImageField() {
            const container = document.getElementById('image-container');
            const index = container.children.length;

            const div = document.createElement('div');
            div.innerHTML = `
                    <input class="form-input" type="file" name="images" accept="image/*" required>
                    <button type="button" onclick="this.parentElement.remove()">Remove</button>
            `;

            container.appendChild(div);
        }
    </script>
    <script defer src="/scripts/create-listing.js"></script>
</head>

<body class="body">
    <main class="main text-primary">
        <form th:action="@{/listings/} + ${endpoint}" th:object="${listingDTO}" method="POST"
            enctype="multipart/form-data" class="flex flex-col w-full p-4 gap-4">
            <input type="hidden" th:field="*{id}">
            <div class="form-div">
                <label>Title:</label>
                <input class="form-input" type="text" th:field="*{title}" required>
            </div>

            <div class="form-div">
                <label>Category:</label>
                <select class="form-input" th:field="*{category}">
                    <option
                        th:each="category : ${T(com.thecrowstudios.meowmarket.listings.Listing.ItemCategory).values()}"
                        th:value="${category}" th:text="${#strings.replace(category, '_', ' ')}"></option>
                </select>
            </div>

            <div class="form-div">
                <label>Featured</label>
                <input class="form-input w-8 h-8 rounded" type="checkbox" th:field="*{featured}">
            </div>

            <div class="form-div">
                <label>Description:</label>
                <textarea class="form-input" type="text" th:field="*{description}" required></textarea>
            </div>

            <div class="form-div">
                <label>Price</label>
                <input class="form-input" type="number" th:field="*{price}" step="0.01" required>
            </div>

            <div class="form-div">
                <label>Quantity in stock</label>
                <input class="form-input" type="number" th:field="*{quantityInStock}" step="1" required>
            </div>

            <div class="form-div">
                <label>Delivery</label>
                <input class="form-input" type="text" th:field="*{delivery}" required>
            </div>

            <div id="image-container" class="form-div">
                <div>
                    <input th:if="${endpoint == 'create'}" class="form-input" id="image-input" type="file" name="images"
                        accept="image/*" required multiple>
                    <input th:if="${endpoint == 'edit'}" class="form-input" id="image-input" type="file" name="images"
                        accept="image/*" multiple>
                    <div class="border-2 border-dashed border-gray-300 p-6 text-center cursor-pointer hover:border-red-500 transition-all duration-300"
                        id="image-drop-zone">
                        <span class-text-primary>Drag and drop images here or click to select</span>
                    </div>
                    <div class="grid grid-cols-5 gap-4 mt-4" id="image-gallery"></div>
                    <span th:if="${endpoint == 'edit'}">Leave images empty to keep the existing ones</span>
                </div>
            </div>

            <div class="flex flex-col h-screen gap-4">
                <div class="flex flex-row gap-4">
                    <label>Long description:</label>
                    <button type="button" onclick="togglePreview()" class="bg-highlight text-primary pl-4 pr-4 rounded">toggle
                        preview</button>
                </div>
                <textarea id="longDescription" class="form-input w-full h-full" type="text"
                    th:field="*{longDescription}" required></textarea>
                <span>
                    Preview:
                </span>
                <div id="preview" class="hidden !text-primary bg-secondary border-2 border-white"></div>
            </div>

            <div class="flex flex-col gap-4">
                <span>Robby is pookie btw :3</span>
                <button type="submit" class="bg-highlight rounded">Create Listing</button>
            </div>
        </form>
    </main>
</body>

</html>