<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body class="body">
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="mt-4">
            <div class="flex flex-row gap-4">
                <span class="flex-grow border-solid border-b-2 -translate-y-1/2"></span>
                <h3 class="font-bold">Newest In Stock</h3>
                <span class="flex-grow border-solid border-b-2 -translate-y-1/2"></span>
            </div>
            <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 p-4">
                <div th:each="listing : ${newListings}">
                    <div th:replace="~{fragments/index-listing :: index-listing}"></div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex flex-row gap-4">
                <span class="flex-grow border-solid border-b-2 -translate-y-1/2"></span>
                <h3 class="font-bold">OBD Readers</h3>
                <span class="flex-grow border-solid border-b-2 -translate-y-1/2"></span>
            </div>
            <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 p-4">
                <div th:each="listing : ${listings}">
                    <div th:replace="~{fragments/index-listing :: index-listing}"></div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>