<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login - UKAutoParts</title>
</head>

<body class="body">
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <form th:action="@{/api/auth/login}" th:object="${userLoginDTO}" method="POST"
            class="flex flex-col w-full p-4 gap-4 justify-center items-center text-center">

            <div class="form-div">
                <label>Username</label>
                <input class="form-input" type="text" id="username" name="username" required />
                <span th:if="${emailError}" th:text="${emailError}" class="form-error"></span>
            </div>

            <div class="form-div">
                <label>Password</label>
                <input class="form-input" type="password" id="password" name="password" required />
                <span th:if="${passwordError}" th:text="${passwordError}" class="form-error"></span>
            </div>

            <div th:if="${param.error}" class="w-full text-center">
                <span class="text-center text-red-500">Incorrect username or password.</span>
            </div>

            <div class="flex justify-center gap-2">
                <label>Remember me</label>
                <input type="checkbox" name="remember-me" id="remember-me" checked>
            </div>

            <span>Don't have an account? Register <a href="/api/auth/register"
                    class="text-highlight hover:text-red-500 transition-all duration-300 underline">here</a>!</span>

            <div>
                <button type="submit" class="button-highlight">Log In</button>
            </div>
        </form>

        <span class="flex-grow"></span>
        <div th:replace="~{/fragments/footer :: footer}"></div>
    </main>
</body>

</html>