<div class="detailmodule_image"><img src="https://ae01.alicdn.com/kf/S866105c380f8478d9c7a7ea706ca636c5.jpg"
        slate-data-type="image" data-spm-anchor-id="a2g0o.detail.1000023.i6.50c7UDz2UDz2XI"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title" data-spm-anchor-id="a2g0o.detail.1000023.i4.50c7UDz2UDz2XI">OTOFIX D1
        Lite Bidirectional Scan Tool with 2-Year Updates, 2024 Newest All System Automotive Diagnostic Scanner,
        38+ Reset Services, Active Test, CANFD&amp;DOIP, Auto VIN</p>
    <p class="detail-desc-decorate-content">🏆【TOP OBD2 Scanner Diagnostic Tool】OTOFIX D1 Lite wireless obd2
        scanner has upgraded hardware configuration and car coverage. The newly upgraded D1 Lite with 🔥OS
        Android 9.0🔥1.5Ghz 4 core high efficiency processor🔥2GB RAM+64GB ROM large storage🔥5800mAh large
        battery, more stable and longer lasting diagnostics🔥 38+ Reset🔥action tests🔥full system
        diagnostic🔥Supports MV105 endoscope🔥21+ Language Supports🔥100000+ vehicle coverage to meet all your
        daily maintenance needs.<br> <br>🔥【Upgraded V1 Bluetooth5.0】OTOFIX D1 Lite is equipped with the V1
        Bluetooth connector, which supports CAN-FD and DOIP. This automotive diagnostic scanner supports
        compatibility with with GM Cavalier, Trax Encore &amp; Volvo after 2018, LanRover/Jaguar after 2017, and
        more. Skip Renault security, Register AutoAuth to get access to 2018+ FCA SGW-equipped cars. It can work
        on over 99% of worldwide vehicles from diverse brands,even some luxury brands e.g. compatible w/
        Maserati,Ferrari, Mercedes,etc.<br> <br>👍【Bi-Directional Control / Active Test】D1 Lite obd2 scanner has
        bidirectional control(worth $300+), which is the most beloved feature among mechanics. If your
        headlights or car windows are broken, going to a repair shop will cost a lot of money. You can use D1
        Lite to send execution commands to the ECU module and identify the repair status. Such as ABS, car
        windows, doors, valves, wipers, headlights, etc., effectively shorten diagnostic time and reduce
        diagnostic costs.<br> <br>🏆【38+ Reset Hot Functions】For repair workshops, holding an OTOFIX D1 Lite
        Auto scanner is a strong advantage over others. Its 38+ maintenance functions provide various solutions
        for all module repairs, including Oil Reset, TPMS Reset, Injector Coding, Suspension, Throttle Matching,
        etc., which will usher your repair business to a new pinnacle. Continuously updating will never make the
        functionality &amp; compatibility out-of-date.<br> <br>🔥【All Systems Diagnostics, In-depth
        Checking】This advanced OBD2 Scanner D1 Lite can perform OE-level diagnosis of all systems including
        engine, transmission, airbag, ABS, ESP, TPMS, immobilizer, gateway, steering, radio, and air
        conditioning for more than 100 brands. This diagnostic scanner supports essential functions, such as
        reading ECU version info, reading and clearing fault codes, and reading data streams.With just a simple
        click, it provides you with accurate and in-depth diagnostics.<br> <br>👍【2 Years NO-FEE Updates + 2
        Years Warranty】Keep this automotive scanner diagnostic tool up-to-date with software subscriptions, free
        for 2 years, with much higher update frequency than similar scanners for cars on the market. The renewal
        of software will bring you new features, bug corrections, wider vehicle coverage and more. If there are
        any issues after purchase, feel at ease to send us messages via e-mail.We will show our concern that
        we’re listening 24/7.Backed by 30 Day Return Policy.</p>
</div>
<div class="detailmodule_image"><img src="https://ae01.alicdn.com/kf/S45e43d2fb1cd4c92a7659f0afe8956aa3.jpg"
        slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Support 16 Languages:</p>
    <p class="detail-desc-decorate-content">English, Spanish, German, Russian, Italian, Polish language,
        Swedish language, Korean, Japanese, Portuguese, Dutch language, French, Czech language, Thai, Vietnamese
        language, Indonesian language, Cambodian</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image"
        src="https://ae01.alicdn.com/kf/S2dbec2f2a3024c36a38772a2ffe3bb3cl.jpg" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Bi-directional Scan Tool OTOFIX D1 Lite</p>
    <p class="detail-desc-decorate-content">With bi-directional control, you can send direct commands to E~CUs
        to drive the actuators, and receive information back to verify their working status. This way, you’ll
        have easy identification of problems and potential solutions across various car systems.<br><br>One
        mechanic shared with us his experience using the bi-directional control:<br><br>“Thanks to the
        bi-directional capability, I could actuate a solenoid in the transmission when fixing the car of my
        client. Then I found that the solenoid was faulty, causing the engine light. After replacing the
        solenoid, I used this car scanner to clear the light. And my client’s car worked normally
        immediately.”<br><br>Of course, you can do more: like Turn on/off the radiator fan, lights, sound horn,
        fuel pump, etc. - Modulate the throttle - Open/close windows - Operate mirrors - Test the device
        acceleration, oil pressure control, vehicle level position, inlet &amp; outlet valve, open brakes, wheel
        speed sensor supply, parking brake, and many others.<br><br>WARM TIPS: &gt;&gt; The available function
        list is depending on the make/model/year of your car.<br><br>What If You Don’t Have Bi-directional
        Control<br><br>Without bi-directional control, you’ll be limited to simply reading error codes and
        replacing components in a trial-and-error dilemma. This can be VERY time-consuming and costly, and may
        not solve the underlying problem completely.</p>
</div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">How to Perform Active test Function</p>
    <p class="detail-desc-decorate-content">1.Read vehicle by auto detect, manual input, or manual
        selection;<br><br>2. Select Auto Scan or Control Unit -- (Powertrain/Body/Chassis …) -- relevant module
        -- active test;<br><br>3. Take steps by following the on-screen instructions. Note that the function
        menu is depending on make/model/year.</p>
</div>
<div class="detailmodule_image"><img src="https://ae01.alicdn.com/kf/Sc2613e119ec0448d896453a23c3639b2k.jpg"
        slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Full System Diagnostics</p>
    <p align="left">Autel D1 Lite can access to ALL vehicle systems and subsystems, such asBody, Chassis,
        Powertrain, Networkand etc., to perform a comprehensive scanning on ECUs to locate fault systems and
        retrieve DTCs.<br><br>1. To diagnoseBrake Systemif you feel the brake pedal is mushy and notice unusual
        odor or noise, etc. A properly operating brake system is critical to ensure safe vehicle control and
        operation;<br><br>2. To diagnoseEmission Systemif the system is affected by vehicle age or poor quality
        fuel. A good emission system reduces harmful gases to a large degree and protects you from being
        fined;<br><br>3. To diagnoseFuel systemif vehicle won’t start or “Check Engine” light is illuminated.
        Check car’s fuel system regularly ensures the best performance of your car with the lowest
        emissions;<br><br>4. To diagnoseTransmissionif your car is slipping or difficult to shift. The system
        plays an important part in the overall performance of your car;<br><br>5. To diagnoseWiper Systemif you
        observe chattering or streaking wiper. If the car is not regularly checked, the accident might happen
        because you can’t see clearly;<br><br>6. To diagnoseLight Systemif you see rapid signal blinking or
        dimming lights.<br><br>And many more ...</p>
</div>
<div class="detailmodule_image"><img src="https://ae01.alicdn.com/kf/A9c14812f763e4bf5b17b6568a52a62d0X.jpg"
        slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">38+ Reset Functions for 99% of Common Repair and Maintenance</p>
    <p align="left">Including Oil Reset / Injector Coding / Throttle Reset / DPF Reset / SCR Reset / Gear
        Learning / Clutch Learning / IMMO / Suspension / ABS Bleeding / EPB Reset / SAS Reset / WIN DR ROOF /
        Seats / Lang Change / Limit / ABSSRS / CHG Tire Size / BMS Reset / Headlamp / Airbag Reset / Turbo,
        Cylinder / A/F Setting / TPMS Reset / ODO Reset / etc.</p>
</div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">8 Hot Repair Functions:</p>
    <p class="detail-desc-decorate-content">Oil Reset: Reset the oil life system and turn off the oil light to
        start a new cycle.<br><br>TPMS Reset: Reset tire pressure and turn off the TPMS light after
        replacement.<br><br>EPB Reset: Maintain the electronic braking system safely and effectively by
        deactivating and activating the brake control system, setting brakes after disc or pad replacement,
        etc.<br><br>BMS Reset: Re-match the battery control module and motoring sensor.<br><br>ABS Bleeding:
        Bleed the air of a brake system to restore ABS brake sensitivity.<br><br>IMMO: Disable/delete/match
        keys. *ONLY for vehicles with low-grade anti-theft systems.<br><br>Suspension: Adjust the vehicle height
        sensor for level calibration when replacing the vehicle height sensor or control module in the air
        suspension system.<br><br>Throttle Matching: Cycle the motorized throttle body through various states
        (idle, part throttle, WOT) to relearn their positions.</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image"
        src="https://ae01.alicdn.com/kf/A9b7dfb1e44584cce8ee9be11068369279.jpg" slate-data-type="image"><img
        class="detail-desc-decorate-image" src="https://ae01.alicdn.com/kf/A68c5964f91324c8d8de74f1bdab5424ec.jpg"
        slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">SGW Security Access</p>
    <p class="detail-desc-decorate-content">Optional Renault SGW service allows you to diagnose 2015+
        SGW-equipped Renault cars.</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image"
        src="https://ae01.alicdn.com/kf/A96105712cc2e43d7896dabd7c8637c31s.jpg" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Support CAN-FD &amp; DOIP</p>
    <p class="detail-desc-decorate-content">CAN-FD, compatible with 2020 &amp; newer G.M &amp; Chrysler Models;
        2) DoIP, compatible with Volvo, Land Rover/Jaguar, BM.W F/G Chassis, and more.</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image"
        src="https://ae01.alicdn.com/kf/Aae6fb08aee5643b6a1910a3cfadecf7aA.jpg" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Battery Test: Check Your Cranking Power</p>
    <p class="detail-desc-decorate-content">This entry-level diagnostic tool OTOFIX D1 Lite is designed with
        battery test function. Pairing with Battery Tester OTOFIX BT1 Lite (sold separately) to check the
        12V&amp;24V vehicle battery and electrical systems, which provides comprehensive solutions for battery
        reset, battery replacement, in-vehicle test, out-of-vehicle test, etc.</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image"
        src="https://ae01.alicdn.com/kf/A9bde1800f1224293a5b37fab10701125b.jpg" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Auto VIN &amp; SCAN VIN/License: Quick Identification</p>
    <p class="detail-desc-decorate-content">For those vehicles that are not based on Auto VIN Scan function,
        this OTOFIX D1 Lite OBD2 diagnostic scanner also allows to scan the VIN code or license numbers to
        quickly identify the vehicle and obtain vehicle information including vehicle model, make, year, etc.,
        which reduces manually inputting and brings convenience for diagnostics</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image" width="800" height="333"
        src="https://ae01.alicdn.com/kf/Sf6a32f5c89cb4f78bd236852490b7aa8o.png" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">OTOFIX D1 Lite vs. Other Car Scanners</p>
    <p class="detail-desc-decorate-content">More Enhanced Features: In this price range, this car scanner
        diagnostic for all cars offers next-level features, including not only the basics but also numerous
        special and advanced functions that are often absent in overpriced diagnostic tools. Visit the page for
        more details.<br><br>More Extensive Coverage: Unlike many generic OBD2 scanners that have limited
        compatibility with specific vehicle brands and models from certain years, the OTOFIX D1 Lite covers 99%
        of mainstream cars worldwide (1996-2022 &amp; newer). With regular software updates, it can efficiently
        diagnose the late-st models.<br><br>More Smooth Navigation: Experience logical and user-friendly
        information menus with the OTOFIX D1 Lite. Its faster processor ensures instant one-touch response,
        making it incredibly easy to use. Enjoy the speed and intuitiveness of OE OBD2 scanner bluetooth at just
        a fraction of the cost.</p>
</div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Different Choice for Diagnoses</p>
    <p class="detail-desc-decorate-content">D1 Lite is suitable for most OBD2 vehicles and support many car
        brands like Ford, Honda, Chevrolet, Jeep, Toyota, Dodge, GM, Volkswagen, Audi, BMW, Benz,
        etc.<br><br>When it comes to the Non-OBD2 vehicles, you can connect the device with vehicles via
        adapters to complete car diagnoses, and the signal connected will be more stable. This diagnostic tool
        support different kinds of adapter connection.</p>
</div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">An Android-based Tablet Diagnostic Tool</p>
    <p class="detail-desc-decorate-content">The D1 Lite is an Android-based tablet diagnostic tool and has
        several features and functions in addition to the diagnostic and service functions, like the MaxiFix,
        Shop Manager, Remote Desk, etc. All of these functions are equipped to provide you with enjoyable user
        experience and offer you ways to good data management and quick problem-solving.<br><br>1. Cloud-based
        MaxiFix online community– an online troubleshooter database that provides you with all common DTCs
        database for most vehicles and allows you to network with other users.<br><br>2. Instant remote control–
        works with TeamViewer Quick Support to enable you to receive ad-hoc remote support from Autel’s support
        center, colleagues, or friends, by allowing them to control your tablet diagnostic tool on their
        PC.<br><br>3. Shop Manager– an application that helps you deal with the daily workshop business and
        improve customer service by helping you manage the workshop information, customer information records,
        and much more.<br><br>4. Data Manager– store, print, and review the saved files.<br><br>5. Interactive
        Data Logging–enable direct contact with Autel Technical Support for first-hand troubleshooting of
        diagnostic bugs and errors<br><br>6. One-stop multitasking– designed for ideal management of workshop
        operations to keep all data files, customer info, and vehicle records well organized</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image" width="800" height="494"
        src="https://ae01.alicdn.com/kf/S6add4c12258b4dfb8b426a3e3a0538f02.jpg" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Remote Assistance/ MaxiFix/Data Manager/Quick Link</p>
    <p class="detail-desc-decorate-content">The Remote Deskapplication launches the TeamViewer Quick Support
        program, a simple, fast and secure remote control interface. Use this application to receive ad-hoc
        remote support from Autel’s support technicians by allowing them to control your MaxiPRO tablet on their
        PC via the TeamViewer software.<br><br>The MaxiFixapplication launches the on-line troubleshooter
        database, which not only provides you virtually all common diagnostic trouble code (DTC) database for
        most vehicles, but also serves as a forum allowing you to network with other MaxiCheck users, and gives
        you access to a vast<br><br>database of repair and diagnostic tips along with proven filed fixes.</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image" width="800" height="494"
        src="https://ae01.alicdn.com/kf/S35610a12d140444d828f703398f7ef58o.jpg" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Extensive Vehicle Coverage</p>
    <p class="detail-desc-decorate-content">More than 150+ Brands,USA/ Europe/ Asiavehicles.<br><br>AU Ford,
        Holden, Buick, Cadillac, Chevrolet, Chevrolet MPV, Chevrolet Truck, Chrysler, Ford, Geo, GM, Hummer,
        Hyundai, Kia, Pontiac, Satum, Scion, Workhorse, Acura, Daihatsu, Honda, Infiniti, Isuzu, Lexus, Mazda,
        Mitsubishi, Nissan, Subaru, Suzuki, Toyota, Daewoo, Abarth, Alfa Romeo, Audi, Bentley, Benz, BMW,
        Bugatti, Citroen, CnFiat, Fiat, Jaguar, Lancia, Lamborghini, Landrover, LT3, Maybach, Mini, Opel,
        Peugeot, Porsche, Renault, Rolls-Royce, SAAB, Seat, Skoda, Smart, Sprinter, Vauxhall, Volvo, VW...</p>
</div>
<div class="detailmodule_text">
    <p>Note:</p>
    <p>The equipment does not have the following special cars, if you need the
        following models, please contact us after receiving the equipment, we will provide you with the contact
        information of the local dealer, you can contact them to buy below car models:<br><br>Brazil, Latin
        America, South America: Fiat Brazil, Gm Brazil, Maruti Suzuki,Mahindra</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image" width="800" height="894"
        src="https://ae01.alicdn.com/kf/Sefad4e26f2474e77a18ba57b0a9bf1b8W.jpg" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Warranty</p>
    <p class="detail-desc-decorate-content">12-month warranty for any possible quality problems</p>
</div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Supported Automotive Protocols</p>
    <p class="detail-desc-decorate-content">ISO9141-2, ISO14230-2,ISO15765, K/L-Line, Flashing Code, SAE-J1850
        VPW, SAE-J1850 PWM, ISO11898(Highspeed, Middlespeed, Lowspeed and Singlewire CAN,fault-tolerant CAN),
        SAE J2610,GM UART,UART Echo Byte Protocol, Honda Diag-H Protocol, TP2.0, TP1.6</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image" width="800" height="800"
        src="https://ae01.alicdn.com/kf/Sd5fdbeec89914920be547c0ebcafccf7e.jpg" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Specifications :</p>
    <p class="detail-desc-decorate-content">Name: OTOFIX D1 Lite<br>Processor: 4x ARM Cortex-A35
        (1.5GHz)<br>Operating System: Android 9.0<br>Storage: 64GB<br>DDR: 2GB<br>Display: 7" LCD capacitive
        touchscreen with 1280*800 resolution<br>Battery: 5800 mAh<br>Camera: 8MConnectivity: USB OTG Type C /
        USB HOST Type C Bluetooth<br>Wi-Fi: Wi-Fi 5<br>Storage Temperature: -10 to 60°C (14 to 140°F)<br>Working
        Temperature: 0 to 45°C (32 to 113°F)<br>VCI: V1<br>Warranty: 1 Year<br>Update: 2 Year Free</p>
</div>
<div class="detailmodule_image"><img class="detail-desc-decorate-image" width="800" height="800"
        src="https://ae01.alicdn.com/kf/S2ac94b665f214e0aaf7ef257391d8b65v.jpg" slate-data-type="image"><img
        class="detail-desc-decorate-image" width="800" height="800"
        src="https://ae01.alicdn.com/kf/S268661f4141e4504b11a9f532d87c211c.jpg" slate-data-type="image"><img
        class="detail-desc-decorate-image" width="800" height="800"
        src="https://ae01.alicdn.com/kf/S1482108410a84b3481243393054c311dM.jpg" slate-data-type="image"><img
        class="detail-desc-decorate-image" width="800" height="800"
        src="https://ae01.alicdn.com/kf/Se9b15d7a7ce14cffb2b45881afde4b7bI.jpg" slate-data-type="image"><img
        class="detail-desc-decorate-image" width="800" height="333"
        src="https://ae01.alicdn.com/kf/S27f474fa1c78466aa4d926e0b5cc3b25l.png" slate-data-type="image"></div>
<div class="detailmodule_text">
    <p class="detail-desc-decorate-title">Packing List</p>
    <p class="detail-desc-decorate-content" data-spm-anchor-id="a2g0o.detail.1000023.i5.50c7UDz2UDz2XI">1X Main
        Unit<br>1X Power Adapter<br>1X OTOFIX V1<br>1X USB to Ethernet Adapter<br>1X Carrying Case<br>1X Type C
        USB Cable<br>1X Quick Reference Guide</p>
</div>
<p>